version: '3'
services:
  scheduler-node-a:
    container_name: scheduler-node-a
    image: vaslabs/workscheduler:0.1.0-SNAPSHOT
    ports:
    - "8080:8080"
    - "8558:8558"
    volumes:
      - ./scheduler-node-a/config:/opt/docker/conf:z
    networks:
      - scheduler
    environment:
      - FLERKEN_SERVICENAME=flerken-work-scheduler
      - FLERKEN_HOSTNAME=scheduler-node-a
  scheduler-node-b:
    image: vaslabs/workscheduler:0.1.0-SNAPSHOT
    container_name: scheduler-node-b
    ports:
      - "8081:8080"
      - "8559:8558"
    volumes:
      - ./scheduler-node-b/config:/opt/docker/conf:z
    networks:
      - scheduler
    environment:
      - FLERKEN_SERVICENAME=flerken-work-scheduler
      - FLERKEN_HOSTNAME=scheduler-node-b


networks:
  scheduler:
    driver: bridge